body {
    padding-top: 30px;
    background-color: #FFEFBA;
    font-family: "Arvo";
    color: #14234e;
}

.card {
    margin-bottom: 10px;
    background-color: #ffffffa2;
}

.btn {
    margin: 5px;
}

.btn-primary {
    background-color: #1a2d65;
}

.radio-button {
    margin: 5px;
}

.btn-warning {
    background-color: #e49887;
}

.form-control {
    background-color: #ffffffa2;
}

.btn-danger {
    background-color: #ff0000;
}

.row {
    margin-bottom: 10px;
}